<% menu_items.each do |menu_item| %>
    <p>
      <% if menu_item.link.blank? %>
            <%= label_tag(menu_item.name, nil, :class => "menu-item-static") %>
      <% else %>
          <span class="float-left ui-icon ui-icon-arrowthick-1-e"></span>
          <%= link_to(menu_item.name, menu_item.link, :class => 'menu-item-link') %>
      <% end %>
    </p>
<% end %>