/* css for medidata soa demo */

#sidebar {
    float: left;
    overflow:  hidden;
}

#sidebar-content {
    width: 100%;
    overflow-y: scroll;
}

#content {
    float: left;
}

#soa-view {
    margin-left: auto;
    margin-right: auto;
    overflow-x:  hidden;
    overflow-y:  hidden;
    position: relative;
}

#soa-container {
    overflow:  auto;
}

.menu-item-static {
    font-weight: bold;
    color: #1C77AF;
    padding-left: 4px;
}

.menu-item-link {
    text-decoration: none;
    color:#2E6E9E !important;
    cursor: pointer;
}

.menu-item-link:hover {
    color:#E47B0E;
}

.center-txt{
    text-align: center;
}

.dsp-none {
    display: none;
}

.float-left {
    float: left;
}
.activity{ background: url(images/green-chk.png) 50% 50% no-repeat; z-index: 20;}

.no-purpose { background: url(images/red-dash.png) 70% 70% no-repeat; z-index: 15;}

.footnotes { background: url(images/blu-tri.png) 0% 0% no-repeat;  z-index: 10;}

table {
    border-spacing: 0px;
}

td {
    border: 1px solid rgb(107, 165, 208);
    width: 70px;
}

.activity {
    background: url(images/green-chk.png) 50% 50% no-repeat;
}
.no-purpose {
    valign: bottom;
    float: right;
    margin: 0px 5px 10px 0px;
    display: block;
    width: 9px;
    height: 4px;
    background: url(images/red-dash.png) 0% 0% no-repeat; }

.activity-id {
    display: none;
    margin: auto;
    valign: center;
    text-align: center;
}

.footnotes {
    display: block;
    valign: top;
    width: 11px;
    height: 11px;
    background: url(images/blu-tri.png) 0% 0% no-repeat;
}