/* css for medidata soa demo */

#sidebar {
    float: left;
    overflow:  hidden;
}

#sidebar-content {
    width: 100%;
    overflow-y: scroll;
}

#content {
    float: left;
}

#soa-view {
    overflow:  hidden;
    position: relative;
    width: 70%;
}


.menu-item-static {
    font-weight: bold;
    color: #1C77AF;
    padding-left: 4px;
}

.menu-item-link {
    text-decoration: none;
    color:#2E6E9E !important;
    cursor: pointer;
}

.menu-item-link:hover {
    color:#E47B0E;
}

.center-txt{
    text-align: center;
}

.dsp-none {
    display: none;
}

.float-left {
    float: left;
}
.activity{ background: url(images/green-chk.png) 50% 50% no-repeat; z-index: 20;}

.no-purpose { background: url(images/red-dash.png) 70% 70% no-repeat; z-index: 15;}

.footnotes { background: url(images/blu-tri.png) 0% 0% no-repeat;  z-index: 10;}