/* css for medidata soa demo */

#sidebar-content {
    width: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
/*    overflow-y: auto; */
}

#content {
    float: left;
}

.menu-item-static {
    font-weight: bold;
    color: #1C77AF;
    padding-left: 4px;
}

.menu-item-link {
    text-decoration: none;
    color:#2E6E9E !important;
    cursor: pointer;
}

.menu-item-link:hover {
    color:#E47B0E;
}

.center-txt{
    text-align: center;
}

.dsp-none {
    display: none;
}

.float-left {
    float: left;
}