<% html = "<span class=\"activity-id\">#{activity.id}</span>" %>
<% html << html_classes_for(activity).inject("") { |r, c| r << "<span class=\"#{c}\"/>" } %>
$("#<%= activity.td_id %>").html('<%= escape_javascript(html).html_safe %>');
test.remove();